# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Nukem\Desktop\JS Applications\11_0_WORKSHOP_SINGLE_PAGE_APPLICATION\movies\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
